*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background: #f3f5f9;
}

.container .sidebar{
      position: fixed;
      width: 200px;
      height: 100%;
      background: #62989b;
      padding: 30px 10px;
}

.container .sidebar h2{
       color: #f3f5f9;
       text-transform: uppercase;
       text-align: center;
       margin-bottom: 40px;
       cursor: pointer;
       transition: all ease 1.5s;

}

.container .sidebar h2 span{
    color: #d33333;
    transition: all ease 1.5s;
}

.container .sidebar h2:hover{
    color: #d33333;
}

.container .sidebar h2 span:hover{
    color: #fff;
}

.container .sidebar ul li a{
    color: #fff;
    
}

.container .sidebar ul li{
        padding: 15px;
        border-bottom: 1px solid black;
        transition: all ease 2s;
}
.container .sidebar ul li:hover{
    background: black;
}

.container .sidebar .social-icon{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    
}

.container .sidebar .social-icon a{
    display: block;
    width: 40px;
    color:#fff;
    line-height: 40px;
    text-align: center;
    margin: 0 5px;
}

.container .sidebar .social-icon a:hover{
    color: #d33333;
}

.container .content{
    margin-left: 200px;
}

.container .content .header{
    padding: 20px;
}
.container .content .info{
    margin: 20px;
}

.container .content .info div{
    padding: 20px;

}



