*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eef3f9;
    display: grid;
    place-items: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    width: 525px;
    border-radius: 15px;
    box-shadow: 0 10px 86px -20px #c8d5f1;
    overflow: hidden;

}

.container header{
    background-color: #199ec7;
    height: 110px;
    display: grid;
    place-items: center;
    position: relative;
}

.container header h2{
    color: black;
    font-size: 26px;
}

.container header span{
    position: absolute;
    right: 10px;
    top: 10px;
    color: black;
    width: 36px;
    height: 36px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}

.container .body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 30px 50px;
    background-color: #fff;
}

.container .body .form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    width: 100%;
}

.container .body .form-group label{
    color: #199ec7;
    font-weight: 700;
    font-size: 18px;
}

.container .body .form-group input, .container .body .form-group select{
    border: none;
    border-bottom: 1px solid #D3D5F1;
    outline: none;
    color: black;
    font-size: 18px;
    font-weight: 400;
    padding: 14px 0;
}

.container .body .form-group{
    appearance: none;
}

.container  .body .form-submit button{
    background-color: #199ec7;
    border: none;
    border-radius: 40px;
    box-shadow: 0 20px 20px -16px rgba(2, 6, 127, 0.35);
    padding: 20px 60px;
    font-size: 18px;
    cursor: pointer;
}